<section>
    <div class="container">
        <div class="row">
            <div class="col d-flex d-xl-flex align-items-center align-items-xl-center" style="background-color: #2f9acc;height: 70px;">
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center">
                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center">

                        <p style="font-size: 20px;margin-bottom: 0px;color: rgb(255,255,255);margin-right: 16px;">
                            <a style="text-decoration: none;" class="Selected" href="/campgrounds">

                            </a>
                        </p>


                        <!-- <p style="font-size: 20px;margin-bottom: 0px;color: rgb(255,255,255);margin-right: 16px;">LifeStyle</p>
                                <p style="font-size: 20px;margin-bottom: 0px;color: rgb(255,255,255);margin-right: 16px;">Safety Supplies</p>
                                <p style="font-size: 20px;margin-bottom: 0px;color: rgb(255,255,255);margin-right: 16px;">Grocery<br></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>