<%- include('../partials/header') %>
    <h1>
        Add new comment to
        <%= work.name %>
    </h1>

    <form action="/campgrounds/<%= work._id %>/comments" method="POST">
        <div style="width: 30%; margin-top: 25px auto;">
            <div class="form-group">
                <input class="form-control" type="text" name="Comment[text]" placeholder="Description">
            </div>
            <button class="btn btn-success">submit</button>

        </div>

    </form>

    <%- include('../partials/footer') %>