<%- include('../partials/header') %>
    <h1>
        Add New Category
    </h1>

    <form action="/campgrounds/category" method="POST">
        <div style="width: 30%; margin-top: 25px auto;">

            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Enter category">
            </div>
            <button class="btn btn-success">submit</button>

        </div>

    </form>

    <%- include('../partials/footer') %>