<%- include('../partials/header'); %>


    <header class="jumbotron">
        <h1 class="display-3">E-cart</h1>
        <p>
            Providing a door step service
        </p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../manufacture/<%=currentUser._id%>/new" role="button">Add new Component</a>
        </p>

    </header>

    <%- include('../partials/footer'); %>