.thumbnail img {
    width: 100%;
}

.img-fit {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.box {
    width: 40px;
    text-align: center;
}

.Selected {
    color: rgb(0, 0, 0);
}